#light {
    background-color: #caeeca;
}

#dark {
    background-color: #27302e;
}

#light .navmain {
    background-color: #ffff;
}
#dark .navmain {
    background-color: #819dd7;
}

#light .contmain {
    background-color: #c6d9ff;
}
#dark .contmain {
    background-color: #5c5463;
}
#light .conth{
    color: black;
}
#dark .conth{
    color: white;
}

#light .condetmain label {
    color: black;
}
#dark .contdetmain label {
    color: white;
}

#light .workmain {
    color: black;
}
#dark .workmain {
    color: white;
}
#light .workmaincss {
    background-color: #eee4ca;
}
#dark .workmaincss {
    background-color: #635f54;
}
#light .workheadingmain {
    color: black;
}
#dark .workheadingmain {
    color: white;
}
#light .projectcontmain {
    color: black;
}
#dark .projectcontmain {
    color: white;
}
#light .projectmain {
    color: black;
}
#dark .projectmain {
    color: white;
}
#light .projectmaincss {
    background-color: #caeeca;
}
#dark .projectmaincss {
    background-color: #27302e;
}
#light .navbutmain {
    color: black;
    background-color: white;
}
#dark .navbutmain {
    color: white;
    background-color: black;

}
#light .text {
    color: black;
}
#dark .text {
    color: white;
}
#light .myname {
    text-align: right;
        float: right;
        clear: none;
        width: 50%;
    color: black;
}
#dark .myname {
    text-align: right;
        float: right;
        clear: none;
        width: 50%;
    color: white;
}

.switch {
    position: relative;
    top: 10px;
    left: 20px;
    display: flex;
    /* width: 10vw; */
    height: 50px;
    /* justify-content: center;
    align-items: center; */
}